{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="about-page">
    <h2>О нас</h2>
    <p>
        Добро пожаловать на наш сайт! Мы специализируемся на продаже автомобилей. Наша цель — сделать процесс покупки автомобиля максимально простым и 
        приятным для вас.
    </p>
    <p>
        Мы работаем только с автосалонами и предлагаем широкий выбор автомобилей различных марок и моделей. 
        Менеджеры всегда готовы помочь вам с выбором и ответить на все ваши вопросы.
    </p>
</div>
{% endblock %}

{% block footer %}
<div class="text-center">
    Мы всегда рады видеть вас на нашем сайте!
</div>
{% endblock %}