{% extends 'base.html' %}

{% block title %}
Автосалоны
{% endblock %}

{% block content %}
<div class="autosalon-page">

  <div class="row">
      {% for autosalon in autosalons %}
      <div class="col-md-6 item">
          <div class="item-in">
              <h4 class="mb-3">{{ autosalon.name }}</h4>
              <div class="seperator"></div>
              <p class="mt-3">{{ autosalon.description }}</p>
              <p class="mt-3">{{ autosalon.address }}</p>
              <a href="{{ url_for('cars_by_autosalon', autosalon_id=autosalon.id) }}" class="mt-3">Перейти к автомобилям</a>
                  <i class="fa fa-long-arrow-right"></i>
              </a>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="text-center">
  Представлены автосалоны только с которыми мы сотрудничаем
</div>
{% endblock %}